/* You can add global styles to this file, and also import other style files */
@import "./margins";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

main {
  padding-top: $header-height;
}

.strikethrough {
  text-decoration: line-through;
}
