.pre-header {
  width: 100%;
  height: 40px;
  background-color: #edeff1;
  color: #0063bd;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  font-family: "Solomon-sans";

  .group {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    cursor: pointer;
  }
}

.logo {
  height: 20px;
}
