@import "../../styles/margins", "../../styles/colors";

.pre-header {
  width: 100%;
  height: $header-height;
  background-color: #edeff1;
  color: $main-letter-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  font-family: "Solomon-sans";
  padding: 0px 15px;

  .group {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    cursor: pointer;
  }
}

.logo {
  height: 20px;
}

@media screen and (min-width: 1500px) {
  .pre-header {
    padding: 0 10vh;
  }
}
