<div class="pre-header">
  <button class="cart-button" (click)="openCartModal()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      shopping_cart
    </mat-icon>
  </button>
  <div class="group">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      location_on
    </mat-icon>
    <span>Les nostres botigues</span>
  </div>
  <div class="group">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      article
    </mat-icon>
    <span>Blog</span>
  </div>
  <div class="group">
    <img src="{{ logo }}" alt="viladomat logo" class="logo" />
  </div>
  <div class="group">
    <span>RENTAL CENTER</span>
  </div>
</div>
